* {
    box-sizing: border-box;
}
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    /*overflow-x: hidden;*/
    font-size: 18px;
    font-family: 'RostelecomBasis', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}
html,body { height:100%;  }
.b{
    font-size: 28px;
    font-weight: 600;
}
.wrapper {
    position: relative;
    min-height: 100%;
  }
.redirect{
    background-color: #fdfdfd;
}
.red{
    flex-grow: 1;
    height: calc(100% - 77px - 99px);
    /*overflow: hidden;*/
    display:flex;
    min-height: 940px;
    /*align-items:center;*/
    /*padding-bottom: 125px;*/
}
.red2{
    flex-grow: 1;
    height: calc(100% - 77px - 99px);
    display:flex;
    min-height: 720px;
}
.helper {
    display: inline-block;
    height: 100%;

    vertical-align: middle;
}
.care{
    text-align: center;
    display: inline !important;
    font-size: 26px;
}
.helper img {
    vertical-align: middle;

}
.subtext{font-size: 22px;line-height: 28px; font-weight: 500; margin-bottom: 20px}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    max-width: 1440px;
    padding: 0 40px;

    /*height: 100%;*/
}

/* START TITLE */
@media (max-width: 959px) {
    .title {
        font-size: 28px;
    }
}
@media (min-width: 960px) {
    .title {
        font-size: 40px;
    }
}
.title {
    margin: 0;
    font-weight: 700;
    line-height: 1.2;
    cursor: default;
}
.title_h1 {
    margin-bottom: 24px;
}
.title_name {
    letter-spacing: 1.5px;
    font-size:14px;
    color: #70747E;
}
.title_head {
    font-size: 50px;
    line-height: 60px;
    font-weight: 500;
    padding-right: 20px;
    margin-bottom: 10px;
}
.maintext{
    font-size: 28px;
    font-weight: 400;

}


/* START PARAGRAPH */
@media (max-width: 959px) {
    .paragraph {
        font-size: 16px;
    }

}
@media (min-width: 960px) {
    .paragraph {
        font-size: 18px;
    }
}

/* END PARAGRAPH */

.header {
    padding: 14px 0;
    position: relative;
    z-index: 10;
    background: #282E3C;
    box-shadow: 0 3px 7px rgba(15, 24, 41, 0.2);
}
a{
    /*text-decoration: none;*/
    color: white;
    margin-right: 24px;
    text-align: center;
}
.footer {
    background: #282E3C;
    font-size: 16px;
    /*position: absolute;*/
    left: 0;
    /*border-top: #C4C7CB 1px solid;*/
    color: black;
    bottom: 0;
    width: 100%;
}

.f1{
    border-top: #C4C7CB 1px solid;

    width: 100%;
     position: fixed;
     bottom: 0;
    background-color: white;
    padding: 18px 0;
}
.main{padding-bottom: 74px}
.footer__container {
    display: flex;
    flex-direction: column;
    padding: 18px 0;
}

.footer__text {
    margin: 0;
    color: #868B95;
    font-size: 12px;
    font-weight: 400;
}

.footer__link {
    display: inline;
    color:rgb(170, 170, 170);
}
.footer__link:hover {
    color: rgba(255, 255, 255, 0.5);
}

.logo {
    display: flex;
}
.row{
    display: grid;
    grid-template-columns: 2fr 0.15fr 1fr 1fr;
}
.col2 p{text-align: right}
.b{ font-size: 14px}
.num{font-size: 28px; font-weight: 300}
/* START CONTENT */
@media (max-width: 599px) {
    .content:before {
        background-image: url('../img/img2.png');
    }
}
@media (min-width: 600px) and (max-width: 1371px) {
    .content:before {
        background-image: url('../img/img2.png');
    }
}
@media (min-width: 1371px) {
    .content:before {
        background-image:
               linear-gradient(90deg, #404653 1%, rgba(255,255,255,0) 30%, rgba(255,255,255,0) 100%),
                url('../img/Img.png');
    }
}
@media (max-width: 1371px) {

    .container{padding: 0 20px}
    .content:before {
        position: relative;
        padding-bottom: 50%;
        background-size: 480px;
    }
    .content__wrapper {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .content__text {
        margin-bottom: 20px;
    }
    .content__buttons {
        /*justify-content: center;*/
    }
    .red{display: block;
        /*height: calc(100% - 64px - 243px);*/
        /*height: calc(100% );*/
        /*min-height: 1220px*/
        height: unset !important;
    }
    .red2{display: block;
        /*height: calc(100% - 77px - 111px);*/
    }
    .gift_text{
        font-size: 16px !important;
    }
    .subtext{ font-size: 20px}
    .maintext{font-size: 20px}
    .title_head{font-size: 36px; line-height: 44px}
    .footer{
        display: block;
    }
}
@media (max-width: 764px){
     .content:before {
        position: relative;
        padding-bottom: 55%;
        background-size: 480px;
    }
    .red2{
        height: calc(100% - 64px - 225px);
    }
    input{
        min-width: unset !important;
        width: 100% !important;
        /*max-width: 360px;*/
        /*margin-right: 24px;*/
    }
    a{margin-right: 0}
    .target_box{margin-right: 12px}
    .maintext{font-size: 18px}
    .title_head{font-size: 28px; line-height: 32px}
    .gift_text{ padding-right: 0 !important;}
}
@media (max-width: 1010px) {
    .content__buttons{
         margin-left: 0 !important;
    }
    .disclaimer{
        margin-left: 0 !important;
    }
    .row{
        grid-template-columns: 1.2fr 0fr 1fr 1fr;
    }
}
@media (min-width: 1371px) {
    .content:before {
        position: absolute;
        left: 50%;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .content:after {
        content: '';
        width: 20%;
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;

        z-index: 2;
    }
    .content__text {
        margin-bottom: 24px;
    }
    .red2 .content__text{margin-top: 25%;}
    .content__wrapper {
        flex: 0 0 50%;
        max-width: 50%;
    }

}
/*@media (min-width: 1600px){*/
/*    !*.content__wrapper{height: 100%}*!*/
/*    .title_head{padding-top: 65px}*/
/*}*/
@media (min-width: 1025px) and (max-width: 1599px){
    /*.content__wrapper{height: 520px}*/
    .content_description{font-size: 22px}
}
@media (min-width: 768px) and (max-width: 1371px){
    /*.content__wrapper{height: 416px}*/
    .care{height: 100%}
    /*.maintext{font-size: 16px}*/
    .title_head{font-size: 36px; margin-bottom: 10px; line-height: 44px}
    .content_description{font-size: 20px; margin-top: 14vh !important;}
    .content__wrapper{padding:25px 0 !important;}
    .footer .container{ padding-left: 0; padding-right: 0}
    .footer__container{ padding-left: 20px; padding-right: 20px}
    .gift_grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .gift_text{align-self: start}
    .subtext{margin-bottom: 40px}
}
.content {
    position: relative;
    background: #404653;
    color: white;
}

.content__wrapper {
    padding: 38px 0 48px 0;
}

.content:before {
    content: '';
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*max-height: 980px;*/
}
.content__buttons {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
    margin-top: 15px;

}
/* END CONTENT */
@media (max-width: 524px){
    .footer .container{
        padding-left: 10px;
        padding-right: 0px;
    }
}
@media (max-width: 398px){
    .red{
        min-height: 1390px;
    }
}
/* START BUTTON */
/*@media (max-width: 359px) {*/
/*    .button {*/
/*        width: 100%;*/
/*        margin-top: 8px;*/
/*        margin-bottom: 8px;*/
/*    }*/
/*    .button:first-child {*/
/*        margin-top: 0;*/
/*    }*/

/*    .button:last-child {*/
/*        margin-bottom: 0;*/
/*    }*/
/*}*/
@media (min-width: 360px) {
    .button {
        margin-left: 8px;
        margin-right: 8px;
    }
    .button:first-child {
        margin-left: 0;
    }

    .button:last-child {
        margin-right: 0;
    }
}
/*@media (min-width: 360px) and (max-width: 599px) {*/
/*    !*.button {*!*/
/*    !*    flex-grow: 1;*!*/
/*    !*    max-width: 50%;*!*/
/*    !*}*!*/
/*    .button {*/
/*    padding-left: 90px;*/
/*    padding-right: 90px;*/
/*}*/
/*}*/
/*@media (min-width: 600px) {*/
/*    .button {*/
/*        padding-left: 75px;*/
/*        padding-right: 75px;*/
/*    }*/
/*}*/
/*@media (min-width: 960px) {*/
/*    .button {*/
/*        padding-left: 28px;*/
/*        padding-right: 28px;*/
/*    }*/
/*}*/
.maintext p {margin-top: 5px; margin-bottom: 32px}
.button {
    -webkit-appearance: none;
    padding-left: 28px;
    padding-right: 28px;
    display: flex;
    justify-content: center;
    padding-top: 12px;
    margin-top: 10px;
    margin-right: 10px;
    padding-bottom: 12px;
    border-radius: 4px;
    border: 0;
    font-size: 16px;
    font-family: inherit;
    cursor: pointer;
}
.button{min-width: 223px; }
.button_success {
    background: #FF4F12;
    /*outline: #fd4e12 2px solid;*/
    color: #FFFFFF;
}
.button_cancel {
    background: #6C757D;
    color: #FFFFFF;
}
.button_later{
    background-color: rgba(255, 228, 181, 0);
    color: white;
    /*outline: #fd4e12 2px solid;*/
    /*box-sizing: border-box;*/
    box-shadow:0px 0px 0px 2px #fd4e12 inset;
}
.button_later:hover{background: rgba(255, 79, 18, 0.05);}
.button_later:active{background: rgba(255, 79, 18, 0.10)  !important;}
.button_success:hover {
    background-color: #D33706 !important;
}
.button_success:active {
    background-color: #b12f01 !important;
}
.button_cancel:hover{
    background-color: #586167 !important;
}
.button_no{
    background-color: rgba(255, 228, 181, 0);
    min-width: 96px;
    color: white;
    padding-left: 0;
}
.button_no:hover{color: #ff4f12}
.button_no:active{color: #979799}
/*@media (max-width: 1355px ) and (min-width: 1355px) {*/
/*    .button_no{*/
/*    min-width: 223px;*/
/*}*/
/*}*/
/* END BUTTON */
.error{
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    color: #FF4747;
    margin-left: 12px;
    margin-top: 4px;
}
.disclaimer {
    color: #A9A9A9;
    font-size: 12px;
    /*margin-left: 70px;*/

}

.disclaimer_link {
    color: #A9A9A9;
}

.col {
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 10px;
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom:30px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    /*font-family: 'Basis', 'Arial', 'HelveticaNeue', sans-serif;*/
    display: block;
}
.content_description {
    /*position: center;*/

    margin-bottom: 60px;
    margin-top: 65px;
}
.description_text {
    padding-left: 0px;
}
.description_img {
    width: auto;
    height: auto;
    justify-self: center;
}
@media (max-width: 767px) {
    .content_description {
        display: block;
    }
    .content:before{height: 30px}
    .col {
        display: flex;
        max-width: 100%;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: left;
    }
    .col__img {
        vertical-align: middle;
    }
    .description_text {
        padding-left: 20px;
    }
    .description_img {
        margin-top: 10px;
    }
    .last {
        margin-bottom: 20px;
    }
    .content_description{
        margin-top: 10px;
    }
    .footer{ font-size: 14px}
    .footer__container{ padding-right: 20px; padding-left: 20px; padding-top: 0}
    .row{
        display: grid;
        row-gap: 20px;
        grid-template-columns: 1fr !important;
    }
    .col1 { order: 1; }
    .col2 { order: 0; }
    .f1{padding-top: 0 !important;}
    .target_box{
        margin-top: 25px;
    }
    .button{ width: 100%}
    h4{font-size: 8px}
    .description_title{margin-bottom: 8px !important;}
    .grid-buttons{
        display: grid !important;
        grid-template-columns: 1fr;
        column-gap: 10px;
    }
    /*.title_head{font-size: 28px; margin-top: 0; margin-bottom: 0; line-height: 32px}*/
    /*.maintext{font-size: 16px}*/
    .content__wrapper{padding: 28px 0}
    .target_box{margin-top: 0 !important;}
    .care{font-size: 18px}
    .num{font-size: 22px}
    .main{padding-bottom: 170px}
    .logo{content: url("../img/Logo b2b2.png")}
}
/*@media (max-width: 436px) {*/
/*    .title_head{font-size: 36px; line-height: 36px}*/
/*    .footer{font-size: 12px}*/
/*}*/
.gift img{ margin: 0 0 0 0px;
    align-self: start;}
.gift {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: center;*/
    /*background-color: white;*/
    border-radius: 8px;
    box-shadow: #000000;
}
.gift_text {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    margin-top: 0;
    /*color: #575D68;*/
}
.description_title{
    font-weight: 600;
    margin-bottom: 14px;
}
.content_target{
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr;*/
    /*background-color: whitesmoke;*/
    padding-top: 60px;
    padding-bottom: 40px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr;
}
.target_box{margin-top: 25px; margin-bottom: 32px}
input{
    font-family: RostelecomBasis;
    width: 60%;
    font-size: 16px;
    border: none;
    border-bottom: rgba(16, 24, 40, 0.12) 2px solid;
    background-color: #E3E8EC;
    border-radius: 4px;
    padding-bottom: 10px;
    padding-top: 12px;
    padding-left: 12px;
    min-width: 406px;
    /*line-height: 18px;*/
}
input:focus-visible{
    outline: none;
    border-bottom: rgba(30, 30, 30,0.4) 2px solid;
}
