* {
    box-sizing: border-box;
}
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    font-size: 18px;
    font-family: 'Basis', 'Arial', 'HelveticaNeue', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

.wrapper {
    position: relative;
    min-height: 100%;
  }

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    max-width: 1440px;
    padding: 0 40px;
}

/* START TITLE */
@media (max-width: 959px) {
    .title {
        font-size: 28px;
    }
}
@media (min-width: 960px) {
    .title {
        font-size: 40px;
    }
}
.title {
    margin: 0;
    font-weight: 700;
    line-height: 1.2;
    cursor: default;
}
.title_h1 {
    margin-bottom: 24px;
}
.title_name {
    letter-spacing: 1.5px; 
    font-size:12px;
}
.title_head {
    font-size: 50px; 
    line-height: 60px; 
    font-weight: 500;
    padding-right: 20px;
}
.title_sub {
    font-size: 18px; 
    line-height: 28px;
}
/* END TITLE */


/* START PARAGRAPH */
@media (max-width: 959px) {
    .paragraph {
        font-size: 16px;
    }
}
@media (min-width: 960px) {
    .paragraph {
        font-size: 18px;
    }
}
.paragraph {
    font-family: Grotesque-Regular;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 12px;
    cursor: default;
}

.paragraph_last {
    margin-bottom: 0;
}
/* END PARAGRAPH */

.header {
    padding: 10px 0;
    background: #E4E9ED;
}

.footer {
    background: #262e3c;
    font-size: 14px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer__container {
    display: flex;
    flex-direction: column;
    padding: 18px 0;
    
}

.footer__text {
    margin: 0;
    font-family: 'Basis', 'Arial', 'HelveticaNeue', sans-serif;
    color:rgb(170, 170, 170);
}

.footer__link {
    display: inline;
    color:rgb(170, 170, 170);
}
.footer__link:hover {
    color: rgba(255, 255, 255, 0.5);
}

.logo {
    display: flex;
}

/* START CONTENT */
@media (max-width: 599px) {
    .content:before {
        background-image: url('../background_600.jpg');
    }
}
@media (min-width: 600px) and (max-width: 959px) {
    .content:before {
        background-image: url('../background_960.jpg');
    }
}
@media (min-width: 960px) {
    .content:before {
        background-image: url('../background.jpg');
    }
}
@media (max-width: 959px) {
    .content:before {
        position: relative;
        padding-bottom: 55%;
    }
    .content__wrapper {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .content__text {
        margin-bottom: 40px;
    }
    .content__buttons {
        justify-content: center;
    }
}

@media (min-width: 960px) {
    .content:before {
        position: absolute;
        left: 50%;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .content:after {
        content: '';
        width: 20%;
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;
        
        z-index: 2;
    }
    .content__text {
        margin-bottom: 24px;
    }
    .content__wrapper {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.content {
    position: relative;
    background: #f1f3f5;
    color: black;
}

.content__wrapper {
    padding: 48px 0;
}

.content:before {
    content: '';
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content__buttons {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
}
/* END CONTENT */


/* START BUTTON */
@media (max-width: 359px) {
    .button {
        width: 100%;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .button:first-child {
        margin-top: 0;
    }
    
    .button:last-child {
        margin-bottom: 0;
    }
}
@media (min-width: 360px) {
    .button {
        margin-left: 8px;
        margin-right: 8px;
    }
    .button:first-child {
        margin-left: 0;
    }
    
    .button:last-child {
        margin-right: 0;
    }
}
@media (min-width: 360px) and (max-width: 599px) {
    .button {
        flex-grow: 1;
        max-width: 50%;
    }
}
@media (min-width: 600px) {
    .button {
        padding-left: 75px;
        padding-right: 75px;
    }
}
@media (min-width: 960px) {
    .button {
        padding-left: 50px;
        padding-right: 50px;
    }
}
.button {
    -webkit-appearance: none;
    display: flex;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 4px;
    border: 0;
    font-size: 16px;
    font-family: inherit;
    cursor: pointer;
}

.button_success {
    background: #FF4F12;
    color: #FFFFFF;
}

.button_cancel {
    background: #6C757D;
    color: #FFFFFF;
}
/* END BUTTON */

.disclaimer {
    color: #A9A9A9;
    font-size: 12px;
}

.disclaimer_link {
    color: #A9A9A9;
}

.col {
    -webkit-box-flex: 0; 
    flex: 0 0 25%; 
    max-width: 25%;
    padding-left: 10px;
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom:30px;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Basis', 'Arial', 'HelveticaNeue', sans-serif;
    display: block;
}
.content_description {
    display: flex;
    margin-bottom: 60px;
}
.description_text {
    padding-left: 0px;
}
.description_img {
    width: 56px; 
    height: 56px;
}
@media (max-width: 960px) {
    .content_description {
        display: block;
    }
    .col {
        display: flex;
        max-width: 100%;
        padding-left: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .col__img {
        vertical-align: middle;
    }
    .description_text {
        padding-left: 20px;
    }
    .description_img {
        margin-top: 10px;
    }
    .last {
        margin-bottom: 20px;
    }
}
.gift {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: center;
}
.gift_text {
    padding-left: 20px; 
    padding-right: 20px; 
    font-size: 20px;
}
